@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #fafafa;
}

@include mat.core();

$fraud-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($fraud-theme);
}
